<h1><i class="fas fa-crown"></i> Burger Queen</h1>
<div class="container">
  <div class="row">
    <div class="col-6 burger-display rounded shadow">
      {{!-- Display uneaten burgers --}}
      <h2>Eat</h2>
      <ul id="burgers-uneaten" style="list-style-type: none;">
        {{#each burgers}}
        {{#unless this.devoured }}
        <li class="burger" style="margin-bottom:10px;">
          <span>
            <button type="button" class="btn btn-dark devour-button" data-id="{{id}}" data-devoured="{{devoured}}"><i
                class="fas fa-utensils"></i></button>
            {{burger_name}}
          </span>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-6 burgers-eaten rounded shadow">
      {{!-- Display eaten burgers --}}
      <h2>Ate</h2>
      <ul id="burgers-eaten" style="list-style-type: none;">
        {{#each burgers}}
        {{#if this.devoured }}
        <li class="burger" style="margin-bottom:10px;">
          <span>
            <button type="button" class="btn btn-dark delete-button" data-id="{{id}}"><i
                class="fas fa-trash-alt"></i></button>
            {{burger_name}}
          </span>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row burger-form rounded shadow">
    <div class="col-12 text-center">
      {{!-- Allows user to add a burger --}}
      <h2>Order</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="name"></label>
          <span><input type="text" id="name-input" name="name" required><button type="submit" id="add-button"
            class="btn btn-dark"><i class="fas fa-plus"></i></button></span>
        </div>
      </form>
    </div>
  </div>
</div>